streamlit
yfinance
pandas
numpy==1.23.5  # Pin to a compatible version
pandas-ta==0.3.14b0 
matplotlib
xgboost
lightgbm
scikit-learn
setuptools  
fuzzywuzzy
python-Levenshtein
lxml
plotly
textblob
streamlit-autorefresh
